<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Flask-SocketIO-Chat: {{ room }}</title>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket = io.connect('http://' + document.domain + ':' + location.port);

            socket.on('connect', function(){
                socket.emit('connection',{});
            })
            function submit(){
                console.log("submit")
                return True
            }
            socket.on("response",function(data){
                const log = document.getElementById("log")
                console.log(data)
                if (data != undefined){
                    log.innerHTML = data.data
                }
            })
            
        
        </script>
        <body>
            <form id="broadcast" method="POST">
                <input type="text" name="Message" id="Message" placeholder="Message">
                <input type="submit" onlcick = "submit()">
            </form>
        <h2>Receive:</h2>
        <div id="log"></div>
    </body>
    </head>
</html>